.noMatchFullHeight {
  height: 100vh;
}

.noMatchFlex {
  align-items: center;
  display: flex;
  justify-content: center;
}

.noMatchPosition {
  position: relative;
}

.noMatchCode {
  border-right: 3px solid;
  font-size: 55px;
  padding: 0 10px 0 10px;
  text-align: center;
}

.noMatchmessage {
  font-size: 40px;
  text-align: center;
}
